<div class="container-fluid read">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                <h2>Read our Blog</h2>
                                <p>Far far away, behind the word mountains, far from the countries<br>Vokalia and
                                        Consonantia, there live the blind texts.</p>
                        </div>
                </div>
                <div class ="row">
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                <div class = "bloco">
                                        <img src="../../../assets/images/img4.png" class="topo" alt="quick"/>
                                        <h1>Quick-start guide<br>to nuts and seeds</h1>
                                        <img src ="../../../assets/images/face1.png" class="comentario" alt="rosto"/>
                                        <p>Kevin Ibrahim</p>
                                </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                <div class="bloco">
                                        <img src="../../../assets/images/img5.png" class="topo" alt="nutrition" />
                                        <h1>Nutrition: Tips for<br>Improving Your Health</h1>
                                        <img src="../../../assets/images/face2.png" class="comentario" alt="rosto" />
                                        <p>Mike Jackson</p>
                                </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                <div class="bloco">
                                        <img src="../../../assets/images/img6.png" class="topo" alt="benefits" />
                                        <h1>The top 10 Benefits<br>of eating healthy</h1>
                                        <img src="../../../assets/images/face3.png" class="comentario" alt="rosto" />
                                        <p>Bryon McGregor</p>
                                </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                <div class="bloco">
                                        <img src="../../../assets/images/img7.png" class="topo" alt="benefits" />
                                        <h1>What Makes a<br>Healthy Dlet?</h1>
                                        <img src="../../../assets/images/face4.png" class="comentario" alt="rosto" />
                                        <p>Jashua</p>
                                </div>
                        </div>
                </div>
                
        </div>
</div>