<div class = "container-fluid join">
        <div class="container">
                <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 texto">
                                <h2>Join our membership<br> to get special offer</h2>
                                <input class="input-busca" placeholder="Enter your email address">
                                <a class="btn-buscar" href="#">Join </a>
                        </div>
                </div>
        </div>
</div>>