<div class="container-fliud topo">
        <div class="container topo-centro">
                
                <div class="row buscar">
                
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                
                                <div class="cx-busca">
                                        <h2>Ready for <br>Trying a new <br> recipe?</h2>
                                        <input class="input-busca" placeholder="Search healthy recipes">
                                        <a class="btn-buscar" href="#"> </a>
                                </div>
                
                        </div>
                
                </div>
               
        </div>
</div>


