.rodape{
        height: 103px;
        background: #FFFFFF;
}
.rodape h1{
        margin-top: 50px;
        color:#1D164D;
        margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        float:left;
}
.rodape p{
        margin-top: 50px;
        color:#9E9BAF;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-align: right;
        margin-right: 20px;
        float:right;

}