<div class="container-fluid sessao-tres">
        <div class="container">
                <div class="row">
                        <div class="col-lg-8 col-sm-8 col-xs-12texto">
                                <h2>The best services ready<br> To serve you</h2>
                                <p>Far far away, behind the word mountains, far from the<br>countries Vokalia and Consonantia, there live the blind<br>texts.</p>
                                <p>Separated they live in Bookmarksg<br>supplies it with the necessary regelialia.rove right at the<br>coast of the Semantics, a large language ocean.</p>   
                                <p>A small river named Duden flows by their place and<br>supplies it with the necessary regelialia.</p>
                                <a class ="btn-know" href="#">Know More</a>
                        </div>
                </div>
        </div>

</div>